@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-gif {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: url("https://cdn.dribbble.com/userupload/23687646/file/original-9db38d247100a2f548cca96d38e7e9fe.gif") center center / cover no-repeat;
}